<ion-view style="" class=" " id="page10" title="Order Status">
    <ion-content class="has-header" padding="true">


        <div class="row" ng-repeat="order in customerOrders" style="border-top: 1px solid #999;" ng-click="goToOrder(customerOrders[$index])" >
            <a class="item item-icon-right " href="#"  style="border-width: 0px; border-style: none;" >
                <p style="font-size: 14px;text-align:left;">
                    {{customerOrders[$index].name}} <br>
                    <p style="font-size: 8px;text-align:left;">{{customerOrders[$index].date}}</p>
                </p>
                <div ng-if="customerOrders[$index].orderStatus === 'pending'">
                    <i style="font-size: 20px; margin-right:0px;right:0px;" class="icon ion-android-more-horizontal"></i>
                </div>
                <div ng-if="customerOrders[$index].orderStatus === 'processing'">
                    <i style="font-size: 20px; margin-right:0px;right:0px;" class="icon ion-android-checkbox-outline-blank"></i>
                </div>
                <div ng-if="customerOrders[$index].orderStatus === 'ready'">
                    <i style="font-size: 20px; margin-right:0px;right:0px;" class="icon ion-android-checkbox-outline"></i>
                </div>
            </a>
        </div>

    </ion-content>
</ion-view>
