<ion-view style="" class=" " id="page13" title="Support">
    <ion-content class="has-header" padding="false" >



      <ion-list class=" " >

        <!-- Profile Cover Page -->
        <div class="support-nav col-md-3">
          <div class="panel">
            <div class="user-heading round">
              <a href="#">
                <img  src="img/yankeat.jpg">
              </a>
              <p style="color: #ffffff;">Yan Keat </p>
            </div>
          </div>
        </div>

        <br/>

      </ion-list>


    </ion-content>
</ion-view>
